<!DOCTYPE html>
<h3>Parent Component</h3>
<div appCustomDirective defaultColor="yellow" mouseoverClr="pink" mouseleaveClr="green">
    <p>Hi I am Hemant. I am Associate UI Developer</p>
    <p style="color:blue">Hi I am Hemant. I am Associate UI Developer</p>
</div>
<h3>Custom Structural Directive</h3>
<div *appNgIfStructuralDirective='isShow'>
    <b>Hello, How are you?</b>
</div>
<ng-template [appNgIfStructuralDirective]='!isShow'>Hello</ng-template>
<div>
    <button (click)="onClick()">Click Me</button>
    <p>{{txt}}</p>
</div>
