marquee {
    width: 100%;
    padding: 10px 0;
    background-color: lightblue;
}

.colorCls {
    color: rgb(255, 187, 0);
}

.sizeCls {
    font-size: 20px;
}

.styleCls {
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
}

.titleClrCls {
    color: red;
}
