<!DOCTYPE html>
<div>
    <h2>Child Component</h2>
    <p>Name: {{students && students.name}}<br/> Age: {{students && students.age}}</p>
    <p>City: {{city}}</p>
    <p><button (click)="change()">Change City</button></p>
</div>
<!-- <div class="loader">
    <div class="loading_1">

    </div>
    <div class="loading_2">
        Loading...
    </div>
</div> -->
<!-- <div *ngIf="chlidMonthEnum.Mar > 1">
    {{chlidMonthEnum.Mar}} is a grater than 1
</div>
<ng-template [ngIf]="chlidMonthEnum.Mar > 1">
    Hello Dosto...!
</ng-template> -->
